{
  "$schema": "https://opencode.ai/config.json",
  "plugin": [
    "opencode-openai-codex-auth@{{ .pins.openCodePlugins.codexAuth }}",
    "@slkiser/opencode-quota@{{ .pins.openCodePlugins.quota }}",
    "opencode-handoff@{{ .pins.openCodePlugins.handoff }}",
    "opencode-history-search@{{ .pins.openCodePlugins.historySearch }}"{{ if eq .role "personal" }},
    "@warp-dot-dev/opencode-warp@{{ .pins.openCodePlugins.warp }}",
    "opencode-lmstudio@{{ .pins.openCodePlugins.lmStudio }}"{{ end }}
  ]{{ if eq .role "personal" }},
  "agent": {
    "title": {
      "model": "openai/gpt-5.4-mini",
      "options": {
        "reasoningEffort": "low"
      }
    }
  },
  "disabled_providers": ["opencode"],
  "provider": {
    "openai": {
      "options": {
        "reasoningEffort": "medium",
        "reasoningSummary": "auto",
        "textVerbosity": "medium",
        "include": ["reasoning.encrypted_content"],
        "store": false
      }
    }
  }{{ end }}
}
