if (( ! $+aliases[zconfig] && ! $+functions[zconfig] )); then
  function zconfig {
    code ~/.zshrc
  }
fi

if (( ! $+aliases[reload] && ! $+functions[reload] )); then
  function reload {
    source ~/.zshrc
  }
fi

{{- if .features.nodeDevelopment }}
export NVM_DIR="$HOME/.nvm"
[[ -s "$NVM_DIR/nvm.sh" ]] && source "$NVM_DIR/nvm.sh"
{{- end }}

{{- if .features.jvmDevelopment }}
export SDKMAN_DIR="$HOME/.sdkman"
[[ -s "$SDKMAN_DIR/bin/sdkman-init.sh" ]] && source "$SDKMAN_DIR/bin/sdkman-init.sh"
{{- end }}
