navigator_position = "left"
theme = "dracula"
toggle_placement = "split"
auto_open = false
markdown_view = "rendered"
{{ if eq .role "personal" -}}
file_markdown_renderer = "glow -s dracula -w {width} -"
{{ end -}}
