brew "eza"
brew "elio"
brew "helix"
{{- if .modules.beads }}
brew "go"
{{- end }}
{{- if or .modules.beads .modules.herdr }}
brew "jq"
{{- end }}
{{- if .modules.ghostty }}
cask "ghostty"
cask "font-hack"
cask "font-jetbrains-mono"
{{- end }}
{{- if .modules.herdr }}
{{- if .herdrPlugins.reviewr }}
brew "glow"
{{- end }}
{{- end }}
{{- if and .modules.opencode (eq .role "personal") }}
cask "lm-studio"
{{- end }}
{{- if .modules.starship }}
brew "starship"
{{- end }}
{{- if .modules.shell }}
brew "fzf"
brew "zoxide"
{{- if .features.nodeDevelopment }}
brew "nvm"
{{- end }}
{{- end }}
